body{background:black;}
audio{width:100%;float:left;}
.ad{background:red;width:100%;height:90px;position:fixed;bottom:0%;float:left;left:0;}
.mainpage-bg img{width:100%}

#select-arti{margin-bottom:1%;}
#select-arti1{margin-bottom:1%;}
img{width:100%;}
.arti-main-text{margin:20% 0;}
/*.mainpage-bg img{width:100%;float:left;}*/